<header class="animationLogo">
    <div class="header_wrapper">
        <div class="background">
            <p>BashoMatuo</p>
        </div>
        <video id="video" playsinline autoplay muted>
            <source src="/assets/France2.mp4" type="video/mp4">
        </video>
    </div>
</header>







